<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Street View side-by-side</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/score.css') }}"/>
</head>
<body>
    <h1>Vous êtes à <div class="count">0</div> KM</h1>
    <h1>Votre score est de : <div class="count2">0</div> points</h1>
    <h1>Et votre score total est de : <div class="count3">0</div> points</h1>

    <a href="{{path('game')}}"><button class="btn btn-success">Rejouer</button></a>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript">
    function countUp(count)
        {
          var div_by = 100,
              speed = Math.round(count / div_by),
              $display = $('.count'),
              run_count = 1,
              int_speed = 24;

          var int = setInterval(function() {
            if(run_count < div_by){
              $display.text(speed * run_count);
              run_count++;
            } else if(parseInt($display.text()) < count) {
              var curr_count = parseInt($display.text()) + 1;
              $display.text(curr_count);
            } else {
              clearInterval(int);
            }
          }, int_speed);
        }

        countUp({{distance}});
    </script>
    <script type="text/javascript">
    function countUp(count)
        {
          var div_by = 100,
              speed = Math.round(count / div_by),
              $display = $('.count2'),
              run_count = 1,
              int_speed = 24;

          var int = setInterval(function() {
            if(run_count < div_by){
              $display.text(speed * run_count);
              run_count++;
            } else if(parseInt($display.text()) < count) {
              var curr_count = parseInt($display.text()) + 1;
              $display.text(curr_count);
            } else {
              clearInterval(int);
            }
          }, int_speed);
        }

        countUp({{score}});
    </script>
    <script type="text/javascript">
    function countUp(count)
        {
          var div_by = 100,
              speed = Math.round(count / div_by),
              $display = $('.count3'),
              run_count = 1,
              int_speed = 24;

          var int = setInterval(function() {
            if(run_count < div_by){
              $display.text(speed * run_count);
              run_count++;
            } else if(parseInt($display.text()) < count) {
              var curr_count = parseInt($display.text()) + 1;
              $display.text(curr_count);
            } else {
              clearInterval(int);
            }
          }, int_speed);
        }

        countUp({{scoreTotal}});
    </script>
</body>
</html>
